lab1/data/cifar10/cifar-10-python.tar.gz
projet/data/cifar100/cifar-100-python.tar.gz
projet/data/cifar100/cifar-100-python/train
lab2/data/cifar10/cifar-10-python.tar.gz 

lab1/data
lab2/data
lab3/data
projet/data
data/cifar10
data/cifar100
data